* {
  font-family: Helvetica;
  font-size: 50px;
  -webkit-user-select: none;
}

#list {
  -webkit-column-count: 2;
}

div.chosen {
  color: #c00000;
}

div.grayed {
  color: #c0c0c0;
}

div.bought {
  color: #c0c0c0;
  text-decoration: line-through;
}

#list hr {
  border-style: none;
  height: 0.25ex;
}

#switch {
  text-align: center;
  background-color: #e0e0e0;
}

span.option-selected {
  color: #0000e0;
}
